@import "src/styles/config/breakpoints";

.filter {
    margin-bottom: 20px;
}
.gutter {
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    margin-top: 0;
  }
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
}
