// $breakpoints: (small: 0, medium: 50em, large: 65em);
$breakpoints: (small: 0, medium: 40em, large: 64em);

@function get-breakpoint-value($breakpoint) {
  @return map-get($map: $breakpoints, $key: $breakpoint);
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint==small {
    @media screen and (min-width: #{get-breakpoint-value($breakpoint)}) {
      @content ;
    }
  }

  @else if $breakpoint==smallOnly {
    @media screen and (max-width: 39.9375em) {
      @content ;
    }
  }

  @else if $breakpoint==medium {
    @media screen and (min-width: #{get-breakpoint-value($breakpoint)}) {
      @content ;
    }
  }

  @else if $breakpoint==mediumOnly {
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      @content ;
    }
  }

  @else if $breakpoint==large {
    @media screen and (min-width: #{get-breakpoint-value($breakpoint)}) {
      @content ;
    }
  }

  @else if $breakpoint==largeOnly {
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {
      @content ;
    }

  }
}

@mixin breakpoint($breakpoint) {
  @media screen and (min-width: #{get-breakpoint-value($breakpoint)}) {
    @content;
  }
}
