@import "./functions";

/* typograpghy*/

$body-font-size: 16px;

/* animation duration */

$animation-fast: .1s;
$animation-normal: .3s;
$animation-slow: .5s;

/* border radius */

$border-radius-light: 2px;
$border-radius-normal: 3px;
$border-radius-strong: 5px;
$border-radius-huge: 12px;
// LAYOUT
$max-page-width: 1024;
$gutter: 30;

/* length variables */

$length1: 5px;
$length2: 10px;
$length3: 15px;
$length3-1: 16px;
$length4: 20px;
$length5: 25px;
$length6: 30px;
$length7: 35px;
$length8: 40px;
$length9: 45px;
$length10: 50px;
$length11: 55px;
$length12: 60px;
$length13: 65px;
$length14: 70px;
$length15: 75px;
$length16: 80px;
$length17: 85px;
$length18: 90px;
$length19: 95px;
$length20: 100px;

/* font weight */

$fw-light: 300;
$fw-normal: 400;
$fw-light-bold: 500;
$fw-bold: 700;

/* font size */

$font-size1: rem(10px);
$font-size2: rem(12px);
$font-size3: rem(13px);
$font-size4: rem(14px);
$font-size5: rem(16px);
$font-size6: rem(18px);
$font-size7: rem(20px);
$font-size8: rem(22px);
$font-size9: rem(24px);
$font-size10: rem(36px);