@import 'src/styles/config/breakpoints';

.wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 15px;

  @include breakpoint(medium) {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
    text-align: left;
  }
}

.subtitle {
  letter-spacing: .125rem;
  color: #818ea3;
  font-size: .8125rem;
  color: #898989;
  text-transform: uppercase;

  @include breakpoint(medium) {
    font-size: .625rem;
  }
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: .25rem;
  color: #4B4B4B;
}
