.input {
    border-radius: 0.5rem;
    font-weight: 500;
    border-width: 1px;
    border-color: #20233E;
    margin-bottom: 1.25rem;
    width: 100%;
    &:disabled {
        cursor: not-allowed;
    }
    &:focus {
        outline: 0;
        border-color: #cbd5e0;
        background-color: #fff;
    }
}