.btn {
    button {
        border: 1px solid transparent;
        border-radius: 0.5rem;
        background-color: #FFD653;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        cursor: pointer;
        white-space: nowrap;
        padding: 0 1.5rem;
        min-width: 4rem;
        width: 100%;
        height: 2rem;
        font-weight: 600;
        letter-spacing: 0.025em;
        &:hover:not([disabled]) {
            background-color: #20233E;
            color: #f7fafc;
        }
        &[disabled] {
            opacity: .6;
            cursor: not-allowed;
        }
    }

}
