@import "src/styles/config/breakpoints";

.gutter {
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    margin-top: 0;
  }
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
}

.infiniteContainer {
  height: 500px;
  padding: 8px 24px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
