.switch {
    color: #00C795;
    position: absolute;
    bottom: -1rem;
    width: 100%;
    left: 0;
    font-size: 14px;
    text-align: center;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.image {
    width: 100%;
    border-radius: 50%;
    height: 110px;
    object-fit: cover;
}

.error {
    margin-top: 5px;
    text-align: center;
}