@import 'src/styles/config/breakpoints';

.wrapper {
  padding: 16px;
  position: fixed;
  right: 0;
  margin-top: 65px;
  padding-bottom: 80px;
  width: 100%;
  overflow-y: scroll;
  height: 100%;

  @include breakpoint(large) {
    width: calc(100% - 300px);
  }
}
