.rulesBlock {
    position: relative;
    top: -15px;
    left: 5px;
    .rule {
        font-size: 11px;
        display: flex;
        align-items: center;
        margin-right: 5px;
        &.isTouched {
            &.valid {
                color: green;
            }
            &.invalid {
                color: red;
            }
        }
        div {
            height: 13px;
            width: 13px;
        }
    }
}

.blockTitle {
    font-size: 13px;
}