.card {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25%;
    box-shadow: none!important;
    min-height: 175px;
    color: #ffffff;
    line-height: 1.5;
    border-radius: 5px;
}

.lightGreen {
    background-color: rgb(0, 199, 149);
}

.blue {
    background-color: rgb(0, 152, 255);
}

.red {
    background-color: rgb(255, 77, 140);
}

.green {
    background-color: rgb(18, 146, 106);
}

.contentWrapper {
    margin-top: 32px;
}

.title {
    font-size: 12px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 24px;
}

.value {
    display: flex;
    img {
        margin-right: 5px;
    }
}