.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleToolbar {
    display: flex;
}

.titleToolbarButton {
    margin-left: 10px;
    button {
        height: 2rem;
    }
}

.hide {
    display: none;
}