*,
 ::before,
 ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

a {
    color: inherit!important;
    text-decoration: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

input:disabled {
    background-color: #f5f5f5!important;
    color: rgba(0, 0, 0, 0.25)!important;
}