    @import './config';

    :global {
      .ant-card-body {
        overflow-x: auto;
      }

      .ant-card-head-title {
        font-weight: 600;
        color: #4B4B4B;
        font-size: $font-size4;
      }

      .ant-collapse-header {
        height: 57px;
        align-items: center;
        display: flex;
      }

      .ant-collapse>.ant-collapse-item {
        border-bottom: 0;
      }

      .ant-upload.ant-upload-select-picture-card {
        position: relative;
        border-radius: 50%;
        width: 128px;
        height: 128px;
        overflow: hidden;
        border: 0;

        .ant-upload {
          display: table-cell;
          width: 100%;
          height: 100%;
          padding: 8px;
          text-align: center;
          vertical-align: middle;
        }
      }

      .ant-upload-picture-card-wrapper {
        display: flex;
        justify-content: center;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
        border-color: color(color-blue3);
        border-width: 0.5px !important;
        color: color(color-blue3);
        border-right-color: unset !important;
        box-shadow: none !important;
      }

      .ant-radio-button-wrapper {
        height: unset;
        line-height: unset;
      }

      .ant-radio-button-wrapper:hover {
        color: color(color-blue1);
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
        color: #4B4B4B;
        border-color: #4B4B4B;
        -webkit-box-shadow: -1px 0 0 0 color(color-blue1);
        box-shadow: -1px 0 0 0 color(color-blue1);
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: color(color-blue3);
        background: #fff;
        border-color: color(color-blue3);
        -webkit-box-shadow: -1px 0 0 0 color(color-blue3);
        box-shadow: -1px 0 0 0 color(color-blue3);
      }

      .ant-radio-button-wrapper:first-child {
        border-left: 1px solid #d9d9d9;
        border-radius: 4px 0 0 4px;
      }

      .ant-radio-button-wrapper:last-child {
        border-radius: 0 4px 4px 0;
      }

      .editable-cell {
        position: relative;
      }

      .editable-cell-value-wrap {
        padding: 5px 12px;
        cursor: pointer;
        min-height: 35px;
      }

      .editable-row:hover .editable-cell-value-wrap {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 4px 11px;
      }

      [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
        border: 1px solid #434343;
      }

      .ant-table-row,
      .ant-table-thead {
        font-size: 12px;
      }
    }
