.spinner {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 3px solid #20233E;
    border-radius: 50%;
    border-top-color: #FFD653;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
}