@import 'src/styles/config/breakpoints';

.card {
  width: 300px;

  @include breakpoint(medium) {
    width: 450px;
  }
}

.wrapper {
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  max-width: 60%;
  margin: 15px auto;
}

.content {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;

  img {
    margin-right: 5px;
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.account {
  padding: 10px 24px;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #00000027;
  margin-top: 5px;
  margin-bottom: 20px;

  &Details {
    flex: 1 1;
  }
}

.gutter {
  margin-bottom: 15px
}
