@import 'styles/config';

.copy {
  color: #20233E;
  display: flex;
  font-size: $font-size2;
  cursor: pointer;
  align-items: center;
  user-select: none;

  &:active {
    font-size: $font-size3;
  }

  @include breakpoint(medium) {
    font-size: $font-size4;
  }
}
