@import 'src/styles/config/breakpoints';

.header {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.625rem rgba(90, 97, 105, .12);
  z-index: 2;
  position: fixed;
  right: 0;
  width: 100%;

  @include breakpoint(large) {
    width: calc(100% - 300px);
  }
}

.errorWarning {
  width: 100%;

  @include breakpoint(large) {
    margin-left: auto;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  height: 100%;
}

.profile {
  color: inherit;
  border-left: 1px solid #e1e5eb;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;

  .title {
    display: none;
    margin-left: 0.5rem;

    @include breakpoint(medium) {
      display: block;
    }
  }
}

.logout {
  font-size: 20px;
}
