.wrapper {
  position: fixed;
  z-index: 3;
  min-height: 100vh;
  background: #fff;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, .1), 0 0.25rem 0.5rem rgba(90, 97, 105, .12), 0 0.9375rem 1.375rem rgba(90, 97, 105, .1), 0 0.4375rem 2.1875rem rgba(165, 182, 201, .1);
}

.logo {
  height: 32px;
  margin: 16px;

  img {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.menuItem {
  color: #20233E;

  &.active {
    box-shadow: inset 0.1875rem 0 0 #20233E;
  }

  &:hover {
    box-shadow: inset 0.1875rem 0 0 #20233E;
    background-color: #e6f7ff;
  }
}
