.input {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    border-width: 1px;
    border-color: #20233E;
    color: #a0aec0;
    border-style: solid;
    margin-bottom: 1.25rem;
    width: 100%;
    font-size: 0.875rem;
    &:disabled {
        cursor: not-allowed;
    }
    &:focus {
        outline: 0;
        border-color: #cbd5e0;
        background-color: #fff;
    }
}