.dialogBackdrop {
    background-color: #333333;
    filter: opacity(.5);
    z-index: 2;
    cursor: pointer;
    animation-duration: .3s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dialog {
    --padding-sides: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    animation-duration: .3s;
    position: fixed;
    top: 0;
    right: var(--padding-sides);
    bottom: 0;
    left: var(--padding-sides);
    outline: none;
    &>* {
        pointer-events: all;
    }
}