.mainContent {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    width: 100%;
    flex: 1 1 0%;
    margin-top: 2rem;
}

.form {
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
}

.login {
    margin-top: 2rem;
    font-size: 0.875rem;
    color: #718096;
    text-align: center;
    font-weight: 500;
    a {
        border-bottom-width: 1px;
        border-color: #a0aec0;
        border-style: dotted;
    }
}