@import "src/styles/config/breakpoints";

.wrapper {
  color: #20233E;
  padding: 2rem;
  overflow: hidden;
}

.container {
  position: relative;
  min-height: 100vh;
  background-color: #20233E;
  display: flex;
  justify-content: center;
  margin: -2rem;
}

.content {
  max-width: 1280px;
  margin: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;

  @include breakpoint(medium) {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
  }
}

.mainContainer {
  padding: 1.5rem;

  @include breakpoint(medium) {
    padding: 3rem;
  }

  @media screen and (min-width: 1024px) {
    width: 50%;
  }

  @media screen and (min-width: 1280px) {
    width: 41.666667%;
  }
}

.logoLink {
  background-color: transparent;
}

.logoImage {
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.illustrationContainer {
  flex: 1 1 0%;
  background-color: #faf5ff;
  text-align: center;
  display: none;
  justify-content: center;
  height: 100%;

  @include breakpoint(medium) {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.illustrationImage {
  margin: 3rem;
  width: 100%;
  max-width: 24rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 1280px) {
    margin: 4rem;
  }
}
